USE [StudentResultDB]
GO
/****** Object:  Table [dbo].[StudentMarks]    Script Date: 29-01-2026 16:17:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentMarks](
	[MarkId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[SubjectId] [int] NULL,
	[MarksObtained] [int] NULL,
	[SubjectName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MarkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 29-01-2026 16:17:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[RollNumber] [nvarchar](20) NOT NULL,
	[Class] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 29-01-2026 16:17:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](50) NULL,
	[MaxMarks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29-01-2026 16:17:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentMarks] ON 

INSERT [dbo].[StudentMarks] ([MarkId], [StudentId], [SubjectId], [MarksObtained], [SubjectName]) VALUES (1, 1, 1, 88, N'Mathematics')
INSERT [dbo].[StudentMarks] ([MarkId], [StudentId], [SubjectId], [MarksObtained], [SubjectName]) VALUES (2, 1, 2, 75, N'Physics')
INSERT [dbo].[StudentMarks] ([MarkId], [StudentId], [SubjectId], [MarksObtained], [SubjectName]) VALUES (4, 1, 4, 85, N'English')
SET IDENTITY_INSERT [dbo].[StudentMarks] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [FullName], [RollNumber], [Class], [IsActive], [FirstName], [LastName], [Email], [UserId]) VALUES (1, N'Dev Jariwala', N'202601001', N'12-A', 1, N'Dev', N'Jariwala', N'dev@example.com', 1)
INSERT [dbo].[Students] ([StudentId], [FullName], [RollNumber], [Class], [IsActive], [FirstName], [LastName], [Email], [UserId]) VALUES (2, N'Kamal Mistry', N'202601002', N'12-A', 1, N'Kamal', N'Mistry', N'kamal@example.com', 2)
INSERT [dbo].[Students] ([StudentId], [FullName], [RollNumber], [Class], [IsActive], [FirstName], [LastName], [Email], [UserId]) VALUES (3, N'Avinash Zala', N'202601003', N'12-B', 1, N'Avinash', N'Zala', N'avinash@example.com', 3)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectId], [SubjectName], [MaxMarks]) VALUES (1, N'Mathematics', 100)
INSERT [dbo].[Subjects] ([SubjectId], [SubjectName], [MaxMarks]) VALUES (2, N'Physics', 100)
INSERT [dbo].[Subjects] ([SubjectId], [SubjectName], [MaxMarks]) VALUES (3, N'Chemistry', 100)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role], [IsActive]) VALUES (1, N'devjariwala', N'pass123', N'Student', 1)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role], [IsActive]) VALUES (2, N'kamalmistry', N'pass123', N'Student', 1)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role], [IsActive]) VALUES (3, N'avinashzala', N'pass123', N'Student', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_Student_Subject]    Script Date: 29-01-2026 16:17:55 ******/
ALTER TABLE [dbo].[StudentMarks] ADD  CONSTRAINT [UQ_Student_Subject] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Students_RollNumber]    Script Date: 29-01-2026 16:17:55 ******/
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [UQ_Students_RollNumber] UNIQUE NONCLUSTERED 
(
	[RollNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4EF489EE1]    Script Date: 29-01-2026 16:17:55 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StudentMarks]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[StudentMarks]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users]
GO
